header,main
  footer {
    box-sizing: border-box;
    width: 1100px;
    margin: 0 auto;
  }
  :global(a) {
    text-decoration: none;
  }
  h1 {
    margin-left: 0.5em;
    color: white;
  }
  h1 a {
    color: white;
    text-decoration: none;
  }
  h1 a:hover {
    color: #cbcbcb;
  }
  h1:hover {
    color: #cbcbcb;
  }
  header {
    background-color: rgb(37, 37, 37);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em 2em 0.5em;
    margin: 0 auto;
    width: 100%;
  }
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  footer {
    background-color: rgb(37, 37, 37);
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 2em 0.5em;
    margin: 0 auto;
    width: 100%;
    margin-top: auto;
  }