header,main
  footer {
    box-sizing: border-box;
    width: 1100px;
    margin: 0 auto;
  }
  :global(a) {
    text-decoration: none;
  }
  h1 {
    margin-left: 0.5em;
    color: white;
  }
  h1 a {
    color: white;
    text-decoration: none;
  }
  h1 a:hover {
    color: #cbcbcb;
  }
  h1:hover {
    color: #cbcbcb;
  }
  header {
    background-color: rgb(37, 37, 37);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em 2em 0.5em;
    margin: 0 auto;
    width: 100%;
  }
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .bottan-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    width: 1100px;
    margin: 0 auto;
    justify-content: flex-end;
  }
  
  .icon{
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  #reset-button {
    background-image: url('./svg/reset.svg'); /* Path to your reset.svg */
  }
  
  #home-button {
    background-image: url('./svg/home.svg'); /* Path to your home.svg */
  }
  
  /* Optional: Add hover effect */
  .icon {
    opacity: 0.8;
  }
  
  footer {
    background-color: rgb(37, 37, 37);
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 2em 0.5em;
    margin: 0 auto;
    width: 100%;
    margin-top: auto;
  }